.MessageList {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px; */
  /* grid-auto-rows: minmax(100wpx, auto); */
  /* flex-grow: 1; */
  color: white;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  gap: 3vh;
  overflow-y: auto;
}
