body {
  background: #121212;
  /* text-align: center; */
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

body::-webkit-scrollbar {
  width: 6px;
}

/*track*/
body::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

/*thumb*/
body::-webkit-scrollbar-thumb {
  background: rgb(75, 80, 88);
  border-style: solid;
  border-radius: 10px;
}
