.Message {
  background-color: rgba(114, 105, 226, 50%);
  border-radius: 10px 10px 0px 10px;
  padding: 1vh;
  flex-basis: 5%;
  inline-size: 25vh;
  overflow-wrap: break-word;
  color: #d0cdfa;
}

.MessageAI {
  background-color: #232834;
  border-radius: 10px 10px 10px 0px;
  padding: 1vh;
  flex-basis: 5%;
  inline-size: 25vh;
  overflow-wrap: break-word;
  align-self: flex-start;
  color: #dedfe3cc;
}
