name: autoDeploy
on:
  workflow_dispatch:
  
  push:
    branches:
      - main
jobs:
  pull:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      - run: npm install
      - run: npm run build --if-present
